<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!-- Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet"/>
    <!-- Reseteo -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/reset.css">
    <!-- Styles -->
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/home.css">   
</head>

<body>

    <header class="main-header">
        <nav class="main-header-top-bar">
            <div class="contenedor-logo-busqueda">
                <a href="/"><img src="/img/logo-mercado-liebre.svg" class="logo"></a>
                <form  class= "contenedor-form" action="/" method="POST">
                    <input class="caja-busqueda" type="text" placeholder="Buscar productos, marcas y más" name="busqueda">
                    <i class="fas fa-search"></i>
                </form>
            </div>
            <h2 class="copy-header"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
        </nav>
        <a class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li class="navbar-items"><a href="">Ofertas</a></li>
                <li class="navbar-items"><a href="">Tiendas Oficiales</a></li>
                <li class="navbar-items"><a href="">Vender</a></li>
                <li class="navbar-items"><a href="">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li class="navbar-items"><a href="/register">Creá tu cuenta </a><i class="far fa-id-card"></i></li>
                <li class="navbar-items"><a href="/login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                <li class="navbar-items"><a href="">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
    </header>

    <figure><img class="img-banner" src="/img/img-home-banner.jpg" alt=""></figure>
    
    <main>

        <section class="contenedor-productos">
            <br><h2 class="titulo">Basado en tu última visita</h2><br>
            <div class="contenedor-articulos">
                <article class="item">
                    <figure><img class="img-contenedor" src="/img/img-cafetera-moulinex.jpg" alt=""></figure>
                    <div class="contenedor-atributos">
                        <i class="fas fa-truck"></i>
                        <div class="contenedor-precio">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% off</p>
                        </div>
                        <br><h5 class="descripcion">Cafetera Moulinex</h5>
                    </div>
                </article>
                <article class="item">
                    <figure><img class="img-contenedor" src="/img/img-macbook-pro-2019.jpg" alt=""></figure>
                    <div class= "contenedor-atributos">
                        <p><i class="fas fa-truck"></i></p>
                        <div class="contenedor-precio">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% off</p>
                        </div>
                        <br><h5 class="descripcion">MacBook Pro 2019</h5>
                    </div>   
                </article>
                <article class="item">
                    <figure><img class="img-contenedor" src="/img/img-samsung-galaxy-s10.jpg" alt=""></figure>
                    <div class= "contenedor-atributos">
                        <p><i class="fas fa-truck"></i></p>
                        <div class="contenedor-precio">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% off</p>
                        </div>
                        <br><h5 class="descripcion">Samsung Galaxy S10</h5>
                    </div>    
                </article>
                <article class="item">
                    <figure><img class="img-contenedor" src="/img/img-tv-samsung-smart.jpg" alt=""></figure>
                    <div class= "contenedor-atributos">
                        <p><i class="fas fa-truck"></i></p>
                        <div class="contenedor-precio">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% off</p>
                        </div>
                        <br><h5 class="descripcion">SmartTv Samsung 43"</h5>
                    </div>
                </article>
            </div>
        </section>
        <section class="contenedor-productos">
            <h2 class="titulo">Ofertas</h2><br>
            <div class="contenedor-articulos">
                <article class="item">
                    <figure><img class="img-contenedor" src="/img/img-cafetera-moulinex.jpg" alt=""></figure>
                    <div class= "contenedor-atributos">
                        <p><i class="fas fa-truck"></i></p>
                        <div class="contenedor-precio">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% off</p>
                        </div>
                        <br><h5 class="descripcion">Cafetera Moulinex</h5>
                    </div>
                </article>
                <article class="item">
                    <figure><img class="img-contenedor" src="/img/img-macbook-pro-2019.jpg" alt=""></figure>
                    <div class= "contenedor-atributos">
                        <p><i class="fas fa-truck"></i></p>
                        <div class="contenedor-precio">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% off</p>
                        </div>
                        <br><h5 class="descripcion">MacBook Pro 2019</h5>
                    </div>   
                </article>
                <article class="item">
                    <figure><img class="img-contenedor" src="/img/img-samsung-galaxy-s10.jpg" alt=""></figure>
                    <div class= "contenedor-atributos">
                        <p><i class="fas fa-truck"></i></p>
                        <div class="contenedor-precio">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% off</p>
                        </div>
                        <br><h5 class="descripcion">Samsung Galaxy S10</h5>
                    </div>   
                </article>
                <article class="item">
                    <figure><img class="img-contenedor" src="/img/img-tv-samsung-smart.jpg" alt=""></figure>
                    <div class= "contenedor-atributos">
                        <p><i class="fas fa-truck"></i></p>
                        <div class="contenedor-precio">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% off</p>
                        </div>
                        <br><h5 class="descripcion">SmartTv Samsung 43"</h5>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer class="contenedor-footer">
        <div class="contenedor-items-footer">
            <section class="articulos">
                <div class="icono-footer"><i class="fas fa-credit-card"></i></div>
                <h2 class="titulo-footer">Pagá con tarjeta o en efectivo</h2>
                <p class="texto-cuerpo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. Y siempre es seguro!</p>
            </section><br>

            <section class="articulos">
                <div class="icono-footer"><i class="fas fa-gift"></i></div>
                <h2 class="titulo-footer">Envío gratis desde $ 2.500</h2>
                <p class="texto-cuerpo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section><br>
            
            <section class="articulos">
                <div class="icono-footer"><i class="fas fa-user-shield"></i></div>
                <p class="titulo-footer">Seguridad, de principio a fin</p>
                <p class="texto-cuerpo">No te gusta?  Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p><br>
            </section>
        </div>
        <p class="texto-cuerpo">Copyright 1999-2020 MercadoLiebre S.R.L</p>
    </footer>
</body>

</html>



